/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',
    sans-serif;
    font-family: 'Lato', sans-serif;
}
app-root{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    width: 100vw;
    height: 100vh;
}