<header [ngClass]="theme"></header>
<nav [ngClass]="theme">
    <a routerLink="/seccion1" routerLinkActive="active"><div>Sección 1</div></a>
    <a routerLink="/seccion2" routerLinkActive="active"><div>Sección 2</div></a>
    <a routerLink="/seccion3" routerLinkActive="active"><div>Sección 3</div></a>
</nav>
<div id="content">
<router-outlet></router-outlet>
</div>