header{
    width: 100vw;
    height: 120px;
    transition: all 1s ease;
}

header.red{
    background-color: maroon;
}
header.blue{
    background-color:royalblue;
}

nav{
    width: 100vw;
    height: 30px;
    background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    padding: 0px 10vw 0px 10vw;
    div, a{
        background-color: mistyrose;
        //padding: 5px;
        line-height: 30px;
        flex-basis: 100%;
        text-align: center;
        margin-right: 5px;
        cursor: pointer;
        transition: all 1s ease;
        text-decoration: none;
        color: Crimson;
    }
    div:hover, a:hover{
        background-color: #ffcdc8;
    }
    a:visited{
        color: Crimson;
    }
}

nav.blue{
    background-color: lightskyblue;

    div, a{
        background-color: lightblue;
        color: dodgerblue;
    }
    div:hover,
    a:hover {
      background-color: #54b9f8;

    }

    a:visited {
      color: dodgerblue;

    }

}

#content{
    width: 100vw;
}